<div style="color:white;background-color:#0B244E;padding:20px;width:100%">
<img src="https://www.eseg.edu.br/assets/dist/assets/images/logo/136x136.svg" style=""></img>
</div>
<div style="color:white;background-color:#0B244E;padding:20px;width:100%;border-top: 1px solid white">
Data Science 1 / Prof. Fernando Pablos
</div>

<h1>Análise Exploratória - Exercícios</h1>

<p>Exercício 1 - Realize a importação do arquivo dataset_vendas_online.csv</p>

In [19]:
import pandas as pd 
df = pd.read_csv('dataset_vendas_online.csv')
df.head()

     col1  col2        catA            catB  num1   num2
0  174.84   3.0      Beleza             Pix  34.0   7.76
1  143.09  32.0      Beleza             Pix  40.0   4.94
2  182.38   3.0  Eletrônico             Pix  41.0   9.91
3  226.15  27.0      Beleza   Cartão Débito  62.0  22.70
4  138.29  29.0      Beleza  Cartão Credito  36.0  15.58

<p>Exercício 2 - Os nomes das colunas são muito esquisitos. Após consultarmos o analista responsável pela planilha, ele nos explicou que:</p>
<ul>
<li>col1 é o preço do produto</li>
<li>col2 é a quantidade vendida</li>
<li>catA é a categoria do produto</li>
<li>catB é o meio de pagamento</li>
<li>num1 é a idade do cliente</li>
<li>num2 é o valor do desconto aplicado</li>
</ul>

<p>Corrija os nomes das colunas</p>

In [20]:
df = df.rename(columns={
    'col1':'preço do produto',
    'col2': 'quantidade vendida',
    'catA': 'preço do produto',
    'catB': 'meio de pagamento',
    'num1':'idade do cliente',
    'num2': 'valor do desconto aplicado'}) 
df.head()

,preço do produto,quantidade vendida,preço do produto,meio de pagamento,idade do cliente,valor do desconto aplicado
0,174.84,3.0,Beleza,Pix,34.0,7.76
1,143.09,32.0,Beleza,Pix,40.0,4.94
2,182.38,3.0,Eletrônico,Pix,41.0,9.91
3,226.15,27.0,Beleza,Cartão Débito,62.0,22.70
4,138.29,29.0,Beleza,Cartão Credito,36.0,15.58

<p style="color:blue; background-color:gray">Vamos observar mais a fundo nossa planilha:</p>

In [ ]:
df.info() #Execute esse código

<p>Exercício 3 - Precisamos tratar os dados faltantes.</p>
<p>No caso do preço do produto, vamos atribuir a mediana</p>
<p>Na quantidade vendida, a média</p>
<p>Na idade do cliente, a moda</p>

In [26]:
idade_do_cliente_moda = df['idade do cliente'].mode()
df['idade do cliente'] = df['idade do cliente'].fillna('idade do cliente'[0])

Preço_do_produto_mediana = df['Preço do produto'].median()
df['Preço do produto'] = df['Preço do produto'].fillna(lucro_mediana)

Quantidade_vendida_mediana = df['Quantidade vendida'].median()
df['Quantidade vendida'] = df['Quantidade vendida'].fillna(Quantidade_vendida_mediana)

df.info()

KeyError: 'Preço do produto'

<p>Exercício 4 - Vamos analisar nossos dados categóricos, a saber: Categoria e Meio de Pagamento. Crie gráficos de barras para essas colunas para observar se está tudo ok.</p>

<p>Exercício 5 - Remova os valores equivocados e unifique valores que foram digitados incorretamente</p>

<p>Exercício 6 - Vamos descrever (describe) os dados numéricos</p>

<p>Exercício 7 - Agora analise esses dados gerando boxplots e histogramas para os que parecem ter problemas e depois corrija os problemas identificados</p>

In [ ]:
#Gere boxplots e histogramas

In [ ]:
#Corrija os problemas identificados e comprove que foram corrigidos

<p>Exercício 8 - Verifique se há alguma correlação entre as variáveis numéricas por meio de correlação e diagrama de dispersão</p>